<!---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todos </title>
</head>
<body bgcolor="powderblue">

 <h1>Todo App - An app to improve daily schedules</h1>  
 
 <form action="" method="POST">
    {% csrf_token %}
    {{editForm}}
    {% for task in editForm %}
    {{task.todo}}
    {% endfor %}
  <button type="submit">Update</button>
 </form> 
 -->

 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo - App for daily schedules</title>
    <link rel="stylesheet" href="{% static 'editingpage.css' %}">
</head>
<body>

 <h1>Edit Task</h1>  
 <br />
 <div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{editForm.task}}
  <button type="submit" class="update_btn">Save Changes</button>
 </form> 
<br />
<br />
 
 </div>

</body>
</html>